$main-black:#08090A;
$main-white:#fff;
$rubik: 'Rubik', sans-serif;
$primary-color:#8CC5F9;
$info:#4F5665;
$shadow: 4px 21px 23px 0px rgba(34, 60, 80, 0.2);
$card-shadow: 4px 4px 10px rgba(0, 0, 0, 0.25);
$hr-color:#EEEFF2;
$prdouct-bg:#F5FAFE;
$footer: #F8F8F8;
$gray: #BDBDBD;
$gray-nd:#4F4F4F;
$his-color:#FBFBFB